<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue-pink.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body ng-app="App">

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">SampleApp</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="#/">Top</a>
            <a class="mdl-navigation__link" href="#/url/regist">Regist</a>
            <a class="mdl-navigation__link" href="#/url">Urls</a>
          </nav>
        </div>
      </header>
      <nav class="mdl-layout__drawer mdl-navigation mdl-color--blue mdl-color-text--white" ng-controller="sideNavi">
        <span class="mdl-layout-title">Graphs</span>

        <span><i class="material-icons">equalizer</i>Kibana</span>
        <ul class="mdl-js-ripple-effect" ng-repeat="url in kibana">
          <li>
            <a class="mdl-navigation__link mdl-color-text--white" href="#/graph/{{ url._id }}">{{ url._source.name }}</a>
          </li>
        </ul>

        <span><i class="material-icons">equalizer</i>cloudwatch</span>
        <ul class="mdl-js-ripple-effect" ng-repeat="url in cloudwatch">
          <li>
            <a class="mdl-navigation__link mdl-color-text--white" href="{{ url._source.url }}" target="_blank">{{ url._source.name }}</a>
          </li>
        </ul>

      </nav>

      <main class="mdl-layout__content">
        <div class="mdl-cell mdl-cell--4-col">
          <div style="margin: 0 auto; width: 1200px;" ng-view></div>
        </div>
      </main>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
